{% extends "template.html" %}

{% block header %}
<style>
    .group-obj {
        text-align: center;
        background-color: #fff;
        width: 80%;
        margin: auto;
        border-radius: 5px;
        padding:2%;
        padding-top: 3%;
        padding-bottom: 5%;
        filter: drop-shadow(0 0 0.15rem rgb(172, 170, 172));

        margin-bottom: 10px;
    }

    .group-obj input{
        margin: auto;
        text-align: center;
        width: 50%;
    }
</style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="group-obj">

                <h2 class="mb-2">{{group.Name}}</h2>

                <hr>
                
                <div class="row">
                    <div class="col-6">
                        <h6>Members</h6>
                        <ul>
                        {% for user in group.Users %}
                            <li> <img class="mt-2" src="{{user.ProfilePic}}" height="50px" style="width:50px; border-radius:50px;" alt=""> <br>{{user.Username}}</li>
                        {% endfor %}
                        </ul>   
                    </div>

                    <div class="col-6">
                        <h6>Pin</h6>

                        <p class="mt-2" style="font-size: 2em;"><strong>{{group.Pin}}</strong></p>
                    </div>
                </div>

                <hr>

                <h4>Invitation Link</h4>

                <input id="link" type="text" class="form-control" value="{{url_for('hangout.link', id = group.JoinLink , _external = True )  }}" readonly>
                <button class="mt-1 btn btn-primary" onclick="copy()">Copy to clipboard</button>

                <p class="mt-3 mb-3">Give this link to any user and they will instantly join this HangOut group.</p>

                {% if current_user.ID == group.Creator_ID %}

                <hr>
                <a href=" {{url_for('hangout.edit', id=group.ID) }} " class="btn btn-secondary">Edit Details</a>

                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
function copy() {
    var copyText = document.querySelector("#link");
    copyText.select();
    document.execCommand('copy');
}
{% endblock %}